html, body {
  background: url(../images/lit_bg.png) #000;
  -webkit-background-size: cover;
  background-size: cover;
  font-family: 'BrandonGrotesque-Regular';
}

a {
  color: #fff;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 800px;
  height: 300px;
  text-align: center;
  color: #fff;
  h1 {
    letter-spacing: 5px;
    font-family: 'BrandonGrotesque-Regular';
    font-size: 38px;
    font-weight: normal;
  }
  h2 {
    letter-spacing: 5px;
    font-size: 36px;
    font-weight: normal;
  }
  hr {
    display: inline-block;
    width: 40px;
    margin: 30px auto 28px;
  }
  h3 {
    position: relative;
    text-align: center;
  }
  .link-box {
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -150px !important;
    z-index: 2;
    width: 300px;
    color: #fff;
  }
}

.sidebar .social-box {
  margin-top: 10px;
  ul {
    overflow: hidden;
  }
  li {
    float: left;
    width: 1.5rem;
    margin-right: .8rem;
    &:last-child {
      margin-right: 0;
    }
  }
  i {
    font-size: 1rem;
  }
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  width: 64px;
  line-height: 64px;
  z-index: 10;
}

.menu-button {
  position: relative;
  margin: 5px;
  height: 36px;
  width: 36px;
  cursor: pointer;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
  &:before {
    content: "";
    position: absolute;
    z-index: 11;
    top: 5px;
    right: 3px;
    border-bottom: 17px double #fff;
    border-top: 6px solid #fff;
    width: 30px;
    height: 5px;
  }
  &:hover {
    opacity: .5;
  }
}

.menu-left {
  float: left;
  margin-right: 1.5rem;
}

.sidebar {
  font-size: .8rem;
  margin: 0;
  color: #eee;
  background-color: #000;
  line-height: 1.7;
  letter-spacing: 2px;
  .inner {
    padding: 3rem;
  }
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  dt {
    padding-top: 5px;
    margin-bottom: 1rem;
    font-family: 'BrandonGrotesque-Bold';
    color: #fff;
  }
}

.mb {
  margin-bottom: 2.2rem;
}


#contents {
  position: absolute;
  top: 100%;
  background: #000;
  color: #fff;
  width: 100%;
  padding: 100px 0 0;
  section {
    padding: 90px 0;
    min-height: 630px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center top;

    h1 {
      font-size: 10rem;
      margin-bottom: 1rem;
      word-wrap: break-word;
    }
    p {
      margin-left: 10px;
      margin-bottom: 30px;
      line-height: 1.5;
    }
  }
  .list-link {
    max-width: 50%;
    li {
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
      a {
        display: inline-block;
        padding: 3px 5px;
        background: #000;
        color: #fff;
        &:hover {
          background: #fff;
          color: #000;
          opacity: 1;
        }
      }
    }
  }
}

.inner {
  width: 90%;
  margin: 0 auto;
}


#graphic,
#photography {
  p {
    margin-right: 10px;
    margin-bottom: 30px;
  }

}


#contents #presentation,
#contents #photography {
  h1 {
    font-size: 9rem;
  }
}

#photography {
  background: url(../images/bg_photography.jpg) ;
}

#graphic {
  background: url(../images/bg_graphic.jpg) #fff;
}


#web {
  color: #000;
  background: url(../images/bg_web.jpg);
}


#presentation {
  text-align: right;
  background: url(../images/bg_presentation.png);
  color: #000 !important;
  .list-link {
    max-width: 100% !important;
    li {
      float: right;
    }
  }
}

@media #{$small} {
  #contents {
    section {
      h1 {
        font-size: 3.5rem !important;
      }
    }
  }
  #web {
    .list-link {
      max-width: 100%;
    }
  }
  #presentation {
    text-align: left;
    .list-link {
      float: left;
    }
  }
}