$baseFont: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
$black: #111;
$white: #fafafa;
$blue: #00A3ED;
$red: #d60000;
$green: #7DC600;
$brown: #763903;
$orange: #ff9526;
$yellow: #FAC800;
$purple: #a278ff;
$gray: #ccc;
$textColor: #333;
$bgColor: #fafafa;
$space: 40px;
$innerwidth1: 800px;
$innerwidth2: 940px;
$shelby: 'shelbyregular';
$serif: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif !important;
