meta charset="utf-8"
title = current_page.data.title
meta content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" name="viewport"
meta content="ja_JP" property="og:locale"
meta content="#{current_page.data.title}" property="og:title"
meta content="website" property="og:type"
meta content="http://designless.net#{current_page.url}" property="og:url"
meta content="http://designless.net#{current_page.url}images/ogp.png" property="og:image"
meta content="Naoki Kanazawa | Designer" property="og:site_name"
meta content="Portfolio by Naoki Kanazawa - Life is Tech ! Designer" property="og:description"
meta content="Portfolio by Naoki Kanazawa - Life is Tech ! Designer" name="description"
meta content="Naoki Kanazawa" name="author"
= stylesheet_link_tag "style"
= favicon_tag 'assets/images/favicon.png'
link href="assets/images/apple-touch-icon.png" rel="apple-touch-icon"
link href="assets/images/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76"
link href="assets/images/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120"
link href="assets/images/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152"
